<div>
	<h3>Edit User:</h3>
	<label>First Name:</label>
	<input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name"></input>
	<label>Last Name:</label>
	<input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name"></input>
	<br/>
	<label>Title:</label>
	<select ng-model="title">
		<option value = "Mr.">Mr.</option>
		<option value = "Ms.">Ms.</option>
		<option value = "Mrs.">Mrs.</option>
	</select>
	<br/>
	<label>Gender:</label>
	<select ng-model="gender" ng-disabled="!edit">
		<option value="male">Male</option>
		<option value="female">Female</option>
	</select>
	<br/>
	<label>Age:</label>
	<input type="number" ng-model="age" placeholder="Age"></input>
	<br/>
	<label>Password:</label>
	<input type="password" ng-model="passw1" placeholder="Password"></input>
	<br/>
	<label>Repeat:</label>
	<input type="password" ng-model="passw2" placeholder="Repeat Password"></input>
	<br/>
	<a ui-sref = "projects.project_0" ng-click = "save()">&#10004; Save Changes</a>
</div>
