<div>
	<table class="table" ng-init = "currentPage = 1">
		<tr>
			<th>Edit</th>
			<th>Delete</th>
			<th>Title</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Age</th>
		</tr>
		<tr ng-repeat="user in ((sForm.sCntnt.$valid && filteredUsrs) || filteredRst) | orderBy: orderPriority">
			<td>
				<a href = "#Edit_user" class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Edit</a>
			</td>
			<td>
				<button class="w3-btn w3-ripple" ng-click="deleteUser(user.id)">&#9998; Delete</button>
			</td>
			<td>{{ user.title}}</td>
			<td>{{ user.fName }}</td>
			<td>{{ user.lName }}</td>
			<td>{{ user.gender}}</td>
			<td>{{ user.age}}</td>
		</tr>
	</table>
	<ul class = "pagination">
		<li><a ng-click = "changePage(1)">First</a></li>
		<li ng-repeat="page in pages"><a ng-click = "changePage(page)">{{page}}</a></li>
		<li><a ng-click = "changePage(pages.length)">Last</a></li>
	</ul>
</div>
